.idea
*.iml
servlets/servlet/target
projects/logging/target
projects/database/target
projects/database/target/*
projects/*/target
primary-source/target
ejbs/target
ear/target
*.DS_Store
derby.log
testdb
